@charset "UTF-8";
.mainWrap{
	height:1400px;
	text-align:left;
	background-color: #f2f2f2;
}
.mainWrap h1{
	padding-top:125px;
	margin-left:12.5%;
}

hr{
	margin:0 12.5%;
	margin-top:10px;
}
/* 메인 페이지 */
/* 구역 정리  */
	.title{padding-top : 25px;}
	.newqnaBtn{
		text-align: right;
  		padding-right:20%;
  		padding-top: 10px;
  		width :100%;
	}
	/* 리스트 정리 */
	.qnaList{
		padding-left:20%;
		padding-top:20px;
	}
	.qnaList table{width:75%;}
	.qnaList table tr{
		display:block;
		border: 1px solid black; 
		padding :10px;
	}
	.qnaList table th{
		width:100%;
		display:inline-block;
		font-size : 20px;
		margin:4px 0;
	}
	.qnaList table tr td{font-size:18px;}
	.editQna form{
		width:75%;
		margin:0 auto;	
	}
	.editQnaBtn{display:inline-block;} 
	.blank_tr{padding:3px !important; border: none !important;}
	
	/* 리스트 색상 */
	.qnaTitle{
		background-color: #ced4da;
		/* color: #fff; */
		border-radius:10px 10px 0 0;
	}
	.qnaContent{border-top:none !important;}
	/* qna작성 페이지 */
	/* 구역정리 2 */
	h1{padding-top:25px}
	.newQna form{
		width : 75%;
		max-width : 800px;
		text-align:left;
		margin: 0 auto;
	}
	input[type="text"],
	textarea{
	    width: 100%;
	    padding: 10px;
	    border: 1px solid #ccc;
	    border-radius: 5px;
	}
	textarea{height:45%;}
	label{
		margin: 17px 0 7px 0;
	}
	/* 버튼 */
	.newBtn{
		margin-top: 10px;
		padding: 10px 10px;
        border: none;
        background: #495057;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
	}
	
	.newBtn:hover {
	    background-color: #868e96;
	}
	
	.editBtn{
		padding: 5px 10px;
        border: none;
        background: #fff;
        color: #868296;
        border-radius: 3px;
        cursor: pointer;
	}
	
	.editBtn:hover {
	    background-color: #dee2e6;
	} 
	#addBtn{
		margin-top: 10px;
		padding: 10px 10px;
        border: none;
        background: #495057;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
	}
	
	#addBtn:hover {
	    background-color: #868e96;
	}
	
	#editSubmitBtn, #delBtn{
		margin-top: 10px;
		padding: 10px 10px;
        border: none;
        background: #495057;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        display:inline-block;
	}
	#editSubmitBtn{background-color:#868e96; }
	#delBtn:hover{background-color:adb5bd;} 
	#editSubmitBtn:hover{
	    background-color: #868e96;
	}
	
	