@keyframes ldio-ft0ab8gvw4j {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-ft0ab8gvw4j div { box-sizing: border-box!important }
  .ldio-ft0ab8gvw4j > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #000000 transparent #000000 transparent;
    animation: ldio-ft0ab8gvw4j 1s linear infinite;
  }
  
  .ldio-ft0ab8gvw4j > div:nth-child(2), .ldio-ft0ab8gvw4j > div:nth-child(4) {
    width: 108px;
    height: 108px;
    top: 46px;
    left: 46px;
    animation: ldio-ft0ab8gvw4j 1s linear infinite reverse;
  }
  .ldio-ft0ab8gvw4j > div:nth-child(2) {
    border-color: transparent #c9c4bf transparent #c9c4bf
  }
  .ldio-ft0ab8gvw4j > div:nth-child(3) { border-color: transparent }
  .ldio-ft0ab8gvw4j > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-ft0ab8gvw4j > div:nth-child(3) div:before, .ldio-ft0ab8gvw4j > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #000000;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #000000;
  }
  .ldio-ft0ab8gvw4j > div:nth-child(3) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #000000;
  }
  
  .ldio-ft0ab8gvw4j > div:nth-child(4) { border-color: transparent; }
  .ldio-ft0ab8gvw4j > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-ft0ab8gvw4j > div:nth-child(4) div:before, .ldio-ft0ab8gvw4j > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 30px;
    background: #c9c4bf;
    border-radius: 50%;
    box-shadow: 0 92px 0 0 #c9c4bf;
  }
  .ldio-ft0ab8gvw4j > div:nth-child(4) div:after {
    left: -16px;
    top: 30px;
    box-shadow: 92px 0 0 0 #c9c4bf;
  }
  .loadingio-spinner-double-ring-6qgrvtrl2jm {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
  }
  .ldio-ft0ab8gvw4j {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-ft0ab8gvw4j div { box-sizing: content-box; }
  #loading{
  	position: absolute;
    left: 45%;
    z-index: 5;
    top: 40%;
    display:none;
  }