<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 8/9 인코딩 필터 추가 
		사유 : 한글 오지게 깨짐 -->
	<filter>
	     <filter-name>encoding</filter-name>
	     <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	     <init-param>
	          <param-name>encoding</param-name>
	          <param-value>UTF-8</param-value>
	     </init-param>
	</filter>
	
	<filter-mapping>
	      <filter-name>encoding</filter-name>
	      <url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- 채팅 수정 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:/spring/appServlet/servlet-context.xml
				classpath:/spring/appServlet/interceptor-context.xml
			</param-value>
		</init-param>
	
		<load-on-startup>1</load-on-startup>
		<!-- 1:1 대화에서는 필요x
		클라이언트가 다수일 경우 클라이언트들이 동시에 데이터를 전송할 수 있기에
		 해당 제어를 위한 비동기 처리 -->
		<async-supported>true</async-supported>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 내가 건든거 -->
	
    <!-- 영속성 유닛에 대한 데이터베이스 연결 및 엔티티 매핑 정보 -->
    <resource-ref>
        <description>MySQL Datasource</description>
        <res-ref-name>jdbc/YourDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <!-- security 추가 2023-08-30 -->
    <!-- security - filter -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/spring/root-context.xml
			classpath:/security/security-context.xml  
		</param-value>
	</context-param>

</web-app>
